<div>
    <p class="lead">{{ $state.current.pageTitle }}</p>
<div class="row">
<div class="col-md-12">
    <table border="0" style="width:300px">
        <tr>
            <td><div class="cp-square1"></div></td>
            <td><div class="cp-square3"></div></td>
            <td><div class="cp-square4"></div></td>
            <td><div class="cp-square5"></div></td>
        </tr>
        <tr>
            <td><div class="cp-legtxt">Battery</div></td>
            <td><div class="cp-legtxt">Geo-Fence</div></td>
            <td><div class="cp-legtxt">No GPS</div></td>
            <td><div class="cp-legtxt">Speed</div></td>
        </tr>
    </table><br>
</div>
</div>
<div class="row">
    <div class="col-md-2">Company Name:<br><select class="form-control" placeholder="Company Name">
        <option value="Company1">Company1</option>
        <option value="Company2">Company2</option>
        <option value="Company3">Company4</option>
        <option value="Company5">Company6</option>
        <option value="Company7">Company8</option>
        <option value="Company9">Company9</option>
        <option value="Company10">Company10</option>
    </select></div>
    <div class="col-md-2">Alert Type:<br><select class="form-control" placeholder="Alert Type">
        <option value="all">All</option>
        <option value="battery">Battery</option>
        <option value="geo">Geo-Fence</option>
        <option value="ngps">No GPS</option>
        <option value="speed">Speed</option>
    </select>
    </div>
    <div class="col-md-2">Start Date:<br>
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-2">End Date:<br>
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-2"><br><button type="button" class="btn btn-primary">Show Report</button></div>
</div>
<div class="row">
    <div class="col-md-12"><div class="panel panel-default"></div><br>Alerts will automatically be marked as Viewed a week after being sent.

        <table class="table">
            <thead><th>Remove</th><th>Date</th><th>Message</th><th>Type</th></thead>
            <tr>
                <td><input checked="checked" class="activateUser" id="" name="item.IsActive" type="checkbox" value="true" /><input name="item.IsActive" type="hidden" value="false" />
                </td>
                <td>09/04/2014 17:15:39</td>
                <td>Device : 131401182 is out of the fence area assigne</td>
                <td>GEOFENCE</td>
            </tr>
            <tr>
                <td><input checked="checked" class="activateUser" id="" name="item.IsActive" type="checkbox" value="true" /><input name="item.IsActive" type="hidden" value="false" />
                </td>
                <td>09/04/2014 17:22:2</td>
                <td>Device : B0135103153 is on a vehicle that has a battery level below 10V</td>
                <td>BATTERY</td>
            </tr>
            <tr>
                 <td><input checked="checked" class="activateUser" id="" name="item.IsActive" type="checkbox" value="true" /><input name="item.IsActive" type="hidden" value="false" />
                </td>
                <td>09/04/2014 17:26:34</td>
                <td>Device : 122904607 is on a vehicle that has a battery level below 10V</td>
                <td>BATTERY</td>
            </tr>
        </table><br>
</div>
    <div class="col-md-2"><button type="button" class="btn btn-primary">Select All</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-primary">Clear All</button></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><button type="button" class="btn btn-primary">Remove</button></div>
