<div class="row">
    <div class="col-md-6"><div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Devices MPG Last 30 Days</h3>
        </div>
        <div class="panel-body">
            <div data-ng-controller="mpgChartController" id="mpg-chart" style="width: 400px; height: 200px;"></div>
        </div>
    </div></div>
    <div class="col-md-6"><div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Alert Events Last 30 Days</h3>
        </div>
        <div class="panel-body">
            <div data-ng-controller="alertsChartController" id="alert-chart" style="width: 400px; height: 200px;"></div>
        </div>
    </div></div>
</div>
<div class="row">
    <div class="col-md-6"><div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Vehicle Maintenance Indicators 30 Days</h3>
        </div>
        <div class="panel-body">
            <div data-ng-controller="maintainChartController" id="maintain-chart" style="width: 400px; height: 200px;"></div>
        </div>
    </div></div>
    <div class="col-md-6"><div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">60 Day Mileage Comparison</h3>
        </div>
        <div class="panel-body">
            <div data-ng-controller="mileageChartController" id="mileage-chart" style="width: 400px; height: 200px;"></div>
        </div>
    </div></div>
</div>