<p class="lead"> {{ $state.current.pageTitle }}</p>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

      <div class="page-header text-center">
        <h2> Set Up Account</h2>

        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="text-center">
         <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Set-up Account</a>
          <a ui-sref-active="active" ui-sref=".sign"><span>2</span> Signs</a>
          <a ui-sref-active="active" ui-sref=".submit"><span>3</span> Submit</a>
        </div>
      </div>



      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form"  >

        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view></div>
      </form>

    </div>

  </div>
</div>
