<!doctype html>
<html data-ng-app="m2mApp" data-ng-controller="shellController" class="no-js">
<head>
  <meta charset="utf-8">
  <title data-ng-bind="$state.current.pageTitle"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
  <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/setup.css">
  <!-- endbuild -->
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Toaster directive container -->
<toaster-container></toaster-container>

<div class="m2m-container">
  <div class="m2m-ribbon">
    <div class="m2m-ribText" data-ng-if="authentication.isAuth">Welcome: {{ authentication.userName }}</div>
  </div>
</div>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main"><img src="img/VerizonLogo_no.png"></a>
    </div>
    <div class="collapse navbar-collapse" data-ng-class="!navCollapsed && 'in'" data-ng-click="navCollapsed=true">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="main" class="dropdown-toggle" data-toggle="dropdown">Main <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active"><a ui-sref="main">Overview</a></li>
            <li ui-sref-active="active"><a ui-sref="alerts">Alerts <span class="badge">2</span></a></li>
            <li ui-sref-active="active"><a ui-sref="reports">Reports</a></li>
            <li ui-sref-active="active"><a ui-sref="companies">Companies</a></li>


          </ul>
        </li>

        <li class="dropdown">
          <a href="main" class="dropdown-toggle" data-toggle="dropdown">Devices <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active"><a ui-sref="devices.live">Live Devices</a></li>
            <li ui-sref-active="active"><a ui-sref="devices.inventory">Device Inventory</a></li>
            <li ui-sref-active="active"><a ui-sref="devices.inactive">Inactive Devices</a></li>
          </ul>
        </li>

        <li ui-sref-active="active"><a ui-sref="live-tracking">Live Tracking</a></li>
        <li ui-sref-active="active"><a ui-sref="users">Users</a></li>
        <li ui-sref-active="active"><a ui-sref="help">Help</a></li>

        <li ui-sref-active="active"> <a ui-sref="login" data-ng-show="!authentication.isAuth">Login</a></li>
        <li><a ui-sref="main" data-ng-show="authentication.isAuth" data-ng-click="logOut()">Logout</a></li>
      </ul>


    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- application content here -->
<div class="container">
  <div ui-view></div>
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted" data-ng-bind-html="copyright"></p>
  </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<script src="bower_components/ng-grid/build/ng-grid.js"></script>
<script src="bower_components/ng-grid/plugins/ng-grid-flexible-height.js"></script>
<script src="bower_components/ng-fullscreen/ng-fullscreen.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js scripts/plugins.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<script src="bower_components/ng-grid/build/ng-grid.js"></script>
<script src="bower_components/ng-grid/plugins/ng-grid-flexible-height.js"></script>
<script src="bower_components/ng-fullscreen/ng-fullscreen.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src='https://maps.googleapis.com/maps/api/js?sensor=false' type="text/javascript"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer.js" type="text/javascript"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app.js"></script>

<!-- controllers -->
<script src="layout/shell.controller.js"></script>
<script src="views/dashboard/dashboard.controller.js"></script>
<script src="views/toaster/toaster.controller.js"></script>
<script src="views/login/login.controller.js"></script>
<script src="views/reports/reports.controller.js"></script>
<script src="views/devices/inventory.controller.js"></script>
<script src="views/devices/details.controller.js"></script>
<script src="views/devices/live.controller.js"></script>
<script src="views/live-tracking/live-tracking.controller.js"></script>
<script src="views/setup/form.controller.js"></script>

<!-- directives -->
<script src="components/directives/google-map.js"></script>

<!-- filters -->
<script src="components/filters/common.js"></script>

<!-- services -->
<script src="components/services/auth.js"></script>
<script src="components/services/authInterceptor.js"></script>
<script src="components/services/dataAccess.js"></script>
<!-- endbuild -->

</body>
</html>
